<footer class="footer">
  <p class="footer-text">©2025 Diego Puértolas Ruiz</p>
</footer>

<style>

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    
    width: 100%;

    backdrop-filter: blur(10px);
    
    text-align: center;

    border-top: 1px solid rgba(255, 0, 0, 0.3);

    margin-top: 50px;
    padding: 20px 0;
  }

  .footer-text {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);

    margin: 0;
  }
  
</style>