---
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/logo-app.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>eFilm - Gestión de Películas</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="/global.css" />
    <ClientRouter />
  </head>
  <body>
    <slot />
    <script src="../assets/scripts/script.js"></script>
  </body>
</html>

<style>
  * {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;

    min-height: 100vh;

    padding-bottom: 60px;
  }

</style>
